In [1]:
# import basic libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

This task is based on a synthesised transaction dataset containing 3 months’ worth of transactions for 100 hypothetical customers. It contains purchases, recurring transactions, and salary transactions.

The dataset is designed to simulate realistic transaction behaviours that are observed in ANZ’s real transaction data, so many of the insights you can gather from the tasks below will be genuine.

In [2]:
data = pd.read_csv('./ANZdataset.csv')

In [6]:
data.head(20)

,status,card_present_flag,bpay_biller_code,account,currency,long_lat,txn_description,merchant_id,merchant_code,first_name,...,age,merchant_suburb,merchant_state,extraction,amount,transaction_id,country,customer_id,merchant_long_lat,movement
0,authorized,1.0,NaN,ACC-1598451071,AUD,153.41 -27.95,POS,81c48296-73be-44a7-befa-d053f48ce7cd,NaN,Diana,...,26,Ashmore,QLD,2018-08-01T01:01:15.000+0000,16.25,a623070bfead4541a6b0fff8a09e706c,Australia,CUS-2487424745,153.38 -27.99,debit
1,authorized,0.0,NaN,ACC-1598451071,AUD,153.41 -27.95,SALES-POS,830a451c-316e-4a6a-bf25-e37caedca49e,NaN,Diana,...,26,Sydney,NSW,2018-08-01T01:13:45.000+0000,14.19,13270a2a902145da9db4c951e04b51b9,Australia,CUS-2487424745,151.21 -33.87,debit
2,authorized,1.0,NaN,ACC-1222300524,AUD,151.23 -33.94,POS,835c231d-8cdf-4e96-859d-e9d571760cf0,NaN,Michael,...,38,Sydney,NSW,2018-08-01T01:26:15.000+0000,6.42,feb79e7ecd7048a5a36ec889d1a94270,Australia,CUS-2142601169,151.21 -33.87,debit
3,authorized,1.0,NaN,ACC-1037050564,AUD,153.10 -27.66,SALES-POS,48514682-c78a-4a88-b0da-2d6302e64673,NaN,Rhonda,...,40,Buderim,QLD,2018-08-01T01:38:45.000+0000,40.90,2698170da3704fd981b15e64a006079e,Australia,CUS-1614226872,153.05 -26.68,debit
4,authorized,1.0,NaN,ACC-1598451071,AUD,153.41 -27.95,SALES-POS,b4e02c10-0852-4273-b8fd-7b3395e32eb0,NaN,Diana,...,26,Mermaid Beach,QLD,2018-08-01T01:51:15.000+0000,3.25,329adf79878c4cf0aeb4188b4691c266,Australia,CUS-2487424745,153.44 -28.06,debit
5,posted,NaN,NaN,ACC-1608363396,AUD,151.22 -33.87,PAYMENT,NaN,NaN,Robert,...,20,NaN,NaN,2018-08-01T02:00:00.000+0000,163.00,1005b48a6eda4ffd85e9b649dc9467d3,Australia,CUS-2688605418,NaN,debit
6,authorized,1.0,NaN,ACC-2776252858,AUD,144.95 -37.76,SALES-POS,3aa18033-a0a9-4190-a117-b7caaf4d07e3,NaN,Kristin,...,43,Kalkallo,VIC,2018-08-01T02:23:04.000+0000,61.06,b79ca208099c4c28aa5dae966096d842,Australia,CUS-4123612273,144.95 -37.53,debit
7,authorized,1.0,NaN,ACC-2776252858,AUD,144.95 -37.76,POS,ee58145d-26e8-4b01-9cd9-62378014f21d,NaN,Kristin,...,43,Melbourne,VIC,2018-08-01T04:11:25.000+0000,15.61,e1c4a50d6a0549cbb3710a62a2fa00d5,Australia,CUS-4123612273,144.96 -37.81,debit
8,authorized,1.0,NaN,ACC-182446574,AUD,116.06 -32.00,POS,cfbf535e-caa8-499f-9d41-bbdc2b836d85,NaN,Tonya,...,27,Yokine,WA,2018-08-01T04:40:00.000+0000,19.25,799e39eb2c1b411185424b0f2cd18bda,Australia,CUS-3026014945,115.85 -31.9,debit
9,posted,NaN,NaN,ACC-602667573,AUD,151.23 -33.96,INTER BANK,NaN,NaN,Michael,...,40,NaN,NaN,2018-08-01T06:00:00.000+0000,21.00,798a77869014441b840a7a8a23408332,Australia,CUS-2031327464,NaN,debit
10,posted,NaN,NaN,ACC-2171593283,AUD,146.94 -36.04,PAYMENT,NaN,NaN,Fernando,...,19,NaN,NaN,2018-08-01T06:00:00.000+0000,27.00,baff17b27b2643c48c84fca7129e9611,Australia,CUS-2317998716,NaN,debit
11,posted,NaN,NaN,ACC-2776252858,AUD,144.95 -37.76,PAYMENT,NaN,NaN,Kristin,...,43,NaN,NaN,2018-08-01T06:00:00.000+0000,29.00,78a1b6c3a5534d48828d8ed266ba9c2e,Australia,CUS-4123612273,NaN,debit
12,authorized,1.0,NaN,ACC-182446574,AUD,116.06 -32.00,SALES-POS,33952b07-859c-4c0a-8b1d-813a5f6b444c,NaN,Tonya,...,27,Cockburn Central,WA,2018-08-01T06:06:40.000+0000,6.08,9ba4928260b24fbb8fb00f1f8d86b868,Australia,CUS-3026014945,115.86 -32.13,debit
13,posted,NaN,NaN,ACC-588564840,AUD,151.27 -33.76,INTER BANK,NaN,NaN,Isaiah,...,23,NaN,NaN,2018-08-01T07:00:00.000+0000,25.00,eaafa602902b4f4194efb96a105dd7ab,Australia,CUS-1462656821,NaN,debit
14,posted,NaN,NaN,ACC-1496451953,AUD,145.16 -37.84,INTER BANK,NaN,NaN,Ricky,...,43,NaN,NaN,2018-08-01T07:00:00.000+0000,39.00,243dcea5fb1846ffb89671edf45f157d,Australia,CUS-3142625864,NaN,debit
15,authorized,1.0,NaN,ACC-1903037542,AUD,153.05 -27.61,POS,d920de7f-959c-4d9a-aee5-930689a2f8cd,NaN,Jeffrey,...,30,Mount Ommaney,QLD,2018-08-01T07:20:48.000+0000,10.79,28347ba260d84f8d81ab70d9e901ea8e,Australia,CUS-860700529,152.94 -27.55,debit
16,posted,NaN,NaN,ACC-2014856841,AUD,144.99 -37.90,INTER BANK,NaN,NaN,Patrick,...,46,NaN,NaN,2018-08-01T08:00:00.000+0000,22.00,ae8124d2e33547bdb605d9a51581457f,Australia,CUS-2370108457,NaN,debit
17,posted,NaN,NaN,ACC-4163822186,AUD,149.03 -34.97,PAYMENT,NaN,NaN,Karen,...,26,NaN,NaN,2018-08-01T08:00:00.000+0000,55.00,0b0bc166b6da49b1ac64d3bb9c4ef550,Australia,CUS-2630892467,NaN,debit
18,posted,NaN,NaN,ACC-3954677887,AUD,115.72 -32.28,PAYMENT,NaN,NaN,Ruth,...,47,NaN,NaN,2018-08-01T08:00:00.000+0000,58.00,c24ca89f7aba4ab4b8d3e9ac0c5f4fab,Australia,CUS-3716701010,NaN,debit
19,authorized,1.0,NaN,ACC-4258502723,AUD,145.45 -37.74,POS,b5565fff-0333-4c74-a61a-56a074d0ec0f,NaN,Kimberly,...,24,Brunswick,VIC,2018-08-01T08:00:11.000+0000,7.37,2f77c3cbe847468bbf99f7f0cead69f9,Australia,CUS-3378712515,144.96 -37.78,debit

In [5]:
data.columns

Index(['status', 'card_present_flag', 'bpay_biller_code', 'account',
       'currency', 'long_lat', 'txn_description', 'merchant_id',
       'merchant_code', 'first_name', 'balance', 'date', 'gender', 'age',
       'merchant_suburb', 'merchant_state', 'extraction', 'amount',
       'transaction_id', 'country', 'customer_id', 'merchant_long_lat',
       'movement'],
      dtype='object')

In [7]:
print('Data type of each column of Dataframe :')
print(data.dtypes)

Data type of each column of Dataframe :
status                object
card_present_flag    float64
bpay_biller_code      object
account               object
currency              object
long_lat              object
txn_description       object
merchant_id           object
merchant_code        float64
first_name            object
balance              float64
date                  object
gender                object
age                    int64
merchant_suburb       object
merchant_state        object
extraction            object
amount               float64
transaction_id        object
country               object
customer_id           object
merchant_long_lat     object
movement              object
dtype: object

In [8]:
data.currency.describe()

count     12043
unique        1
top         AUD
freq      12043
Name: currency, dtype: object

Start by doing some basic checks – are there any data issues? Does the data need to be cleaned?

Gather some interesting overall insights about the data. For example -- what is the average transaction amount? How many transactions do customers make each month, on average?

Segment the dataset by transaction date and time. Visualise transaction volume and spending over the course of an average day or week. Consider the effect of any outliers that may distort your analysis.

For a challenge – what insights can you draw from the location information provided in the dataset?